.homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inpForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit{
  margin-top: 1em;
  width: 40%;
}

input{
  margin-top: 0.8em;
}

label{
  font-size: 24px;
  
}
ul{
  width: 25%;
}

.item{
  padding:0.5em;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.item>button{
  margin-left: 1em;
}

